# Environments
venv/
env/

# Python caches
__pycache__/
*.pyc

# Database lokal (Jangan di-push agar data user aman)
chat_history.db

# Vector Database (Ukurannya terlalu besar untuk GitHub)
database_chroma/
storage/

# Mac OS junk
.DS_Store